@font-face {
   font-family: 'sora';
   src: url(fonts/Sora/Sora-Regular.ttf);
}
@font-face {
   font-family: 'ss3';
   src: url(fonts/SourceSans3/SourceSans3-Regular.ttf);
}

*{
    color: #FFF;
 }

body{
    height: 100vh;
    background: linear-gradient(180deg,rgba(15, 19, 38, 1) 0%, rgba(16, 16, 20, 1) 100%);
} 

ul{
    list-style: none;
 }
h3{
    display: flex;
    justify-content: center;
 }
h1,h2,h3,h4,h5,h6{
font-family: 'sora';
}  
.redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.map{
    width:100%;
    height:100%;
}
.logo{
    width: 75px;
    height: 75px ;
}
.col-lg-3{
    border: black solid 1px;
}
li:hover{
    color: #22D3EE;
    /* background: -webkit-linear-gradient(#dcfcff, #7bebff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */

  }