@font-face {
   font-family: 'sora';
   src: url(fonts/Sora/Sora-Regular.ttf);
}
@font-face {
   font-family: 'ss3';
   src: url(fonts/SourceSans3/SourceSans3-Regular.ttf);
}

*{
    color: #FFF;
 }

body{
    background: linear-gradient(180deg,rgba(15, 19, 38, 1) 0%, rgba(16, 16, 20, 1) 100%);
} 

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(99,241,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
  border-color: rgb(99, 241, 255,100); 
}
.navbar-toggler:focus,
.navbar-toggler:active{
  outline: none;
  box-shadow: 0 0 0 0.25rem rgb(99, 241, 255,100); 
  border-color: rgb(99, 241, 255,100);
}
.formbut{
    color: #22D3EE;
}

.navbar{
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color:rgb(99, 241, 255,100);
    --bs-navbar-focus-color:rgb(99, 241, 255,100);
    --bs-navbar-active-color:rgb(99, 241, 255,100);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
 }
h1{
 font-size: 2.5em;
}
h2{
 font-size: 2.0em;
 
}
h3{
font-size: 1.5em;
 }
 h4{
font-size: 1.4em;
 }
 h5{
font-size: 1.3em;
 }
 h6{
font-size: 1.2em;
 }
h1,h2,h3,h4,h5,h6{
font-family: 'sora';
}  
.redes,.contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.map{
    width:100%;
    height:100%;
}
.logo{
    display: flex;
    justify-self: center;
    width: 75px;
    height: 75px ;
}
.card,.card-button {
    border-color: #22D3EE;
    color: #22D3EE;
}


li:hover{
    color: #22D3EE;
    /* background: -webkit-linear-gradient(#dcfcff, #7bebff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */

  }